<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.2.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
						http://www.springframework.org/schema/tx	
						http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<import resource="classpath:hibernateContext.xml" />

	<!--Se indica que la configuracion del MVC se hara utilizanbdo anotaciones-->
	<mvc:annotation-driven />

	<!--Se indica que el transaction manager a utilizar en la capa de servicios es el bean declarado en hibernateContext.xml-->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!--Se indican que paquetes debe escanear Spring al levantar el contexto para encontrar componentes, -->
	<!--esto es clases anotadas como @Controller, @Service o @Repository-->
	<context:component-scan base-package="ar.edu.unlam.tallerweb1.controladores" />
	<context:component-scan base-package="ar.edu.unlam.tallerweb1.repositorios" />
	<context:component-scan base-package="ar.edu.unlam.tallerweb1.servicios" />
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="unlam032@gmail.com" />
		<property name="password" value="qqQ#6Hh%4g1" />
 
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">smtp</prop>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
	</bean>
		
	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
	    <property name="velocityProperties">
	        <props>
	            <prop key="resource.loader">class</prop>
	            <prop key="class.resource.loader.class">
	                org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
	            </prop>
	        </props>
	    </property>
	</bean>

</beans>

